.FindPeopleTo {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.FindPeopleTo__text {
  font-size: 30px;
  color: #333;
  max-width: 90%;
  margin: 0 auto;
}

@media all and (max-width: 479px) {
  .FindPeopleTo__text {
    font-size: 18px;
    line-height: 30px;
  }
}
