.Hero {
  height: 100vh;
  background-image: url(../../../assets/hero.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
}

.Hero__overlay {
  flex: 1;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.Hero__content {
  text-align: center;
}

.Hero__title {
  font-size: 68px;
  color: #fff;
  line-height: 70px;
  margin-bottom: 40px;
}

.Hero__subtitle {
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  margin-bottom: 40px;
}

.Hero__button {
  background-color: #00a94f;
  padding: 18px 60px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-width: 0;
  border-radius: 4px;
}

.Hero__button:hover {
  background-color: #fff;
  color: #00a94f;
}

.Hero__button:focus {
  outline: 0;
}
