#LandingNavbar {
  background-color: transparent;
  border: 0;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.2s ease-in 0s;
}

#LandingNavbar.LandingNavbar--scrolled {
  background-color: #fff;
  padding-top: 10px;
}

#LandingNavbar .LandingNavbar__brand {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

#LandingNavbar.LandingNavbar--scrolled .LandingNavbar__brand,
#LandingNavbar.LandingNavbar--scrolled .LandingNavbar__NavItem a {
  color: #1B5E20;
}

#LandingNavbar .LandingNavbar__brand--partner {
  color: #ffeb3b;
}

#LandingNavbar .LandingNavbar__NavItem a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 23px;
}

#LandingNavbar .LandingNavbar__NavItem a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: all .2s ease-in-out 0s;
}

#LandingNavbar.LandingNavbar--scrolled .LandingNavbar__NavItem a::after {
  background-color: #1B5E20;
  height: 3px;
}

#LandingNavbar .LandingNavbar__NavItem a:hover::after {
  transform: scaleX(1);
}

#LandingNavbar .LandingNavbar__Button a {
  padding: 12px 15px;
  background-color: #1B5E20;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

#LandingNavbar .LandingNavbar__Button a:hover {
  background-color: #fff;
  color: #1B5E20;
}

#LandingNavbar.LandingNavbar--scrolled .LandingNavbar__Button a:hover {
  border: 1px solid #1B5E20;
}

#LandingNavbar .navbar-toggle {
  border: 0;
}

#LandingNavbar .navbar-toggle:focus,
#LandingNavbar .navbar-toggle:hover {
  background-color: transparent;
}

#LandingNavbar .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 35px;
  margin-bottom: 8px;
}

#LandingNavbar.LandingNavbar--scrolled .navbar-toggle .icon-bar {
  background-color: #1B5E20;
}
